.Home-Container {
  box-sizing: border-box;
  padding: 7rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
}

.Home-Top{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.Home-Bottom{
  flex-wrap: wrap;
  display: flex;
}

.Home-Title {
  margin: 0;
  align-self: center;
  justify-self: center;
  font-size: 2rem;
}


.Home-CreatorsButton{
  box-sizing: border-box;
  justify-self: center;
  border-radius: 0.7rem;
  border: 2px solid var(--dark-color);
  background-color: var(--light-color);
  color: var(--dark-color);
  width: 7rem;
  height: 2.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  transition: opacity 0.2s ease;
}

.Home-CreatorsButton:hover {
  cursor: pointer;
  opacity: 0.5;
}

.Home-VideoContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
  justify-content: center;
  align-items: center;
  margin: 2rem
}

.Home-VideoSubContainer{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 0 0.5rem;
}

.Home-VideoLeft{
  display: flex;
  flex-direction: column;
}

.Home-FrameContainer{
  border-radius: 1rem;
  border: 2px solid var(--dark-color);
}

.Home-VideoTitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.3rem;
  margin: 0;
  max-width: 240px;
  overflow: hidden;
}

.Home-VideoDate{
  font-size: 0.8rem;
}

.Home-LikeButton {
  box-sizing: border-box;
  border-radius: 0.7rem;
  border: 2px solid var(--dark-color);
  background-color: var(--light-color);
  color: var(--dark-color);
  width: 2rem;
  height: 2rem;
  padding: 0.3rem;
  font-size: 0.8rem;
  margin: 0;
  transition: opacity 0.2s ease;
}

.Home-LikeButton:hover {
  cursor: pointer;
  opacity: 0.5;
}

.Home-LikeButton svg {
  width: 1.3rem;
  height: 1.3rem;
}

.Home-Error{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 1rem 0 0 0;
}

.Home-NoVideosContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Home-NoVideosContainer p{
  font-size: 1.3rem;
  font-weight: 500;
  margin: 1rem 0 0 0;
}

@media only screen and (max-width: 550px) {
  .Home-Title{
    font-size: 1rem;
  }
  .Home-CreatorsButton {
    font-size: 0.6rem;
    width: 5rem;
    height: 2rem;
    min-width: fit-content;
    border-radius: 0.6rem;
  }
  .Home-VideoContainer{
    margin: 1rem 0;
  }
  .Home-VideoTitle{
    font-size: 1rem;
    margin: 0.3rem 0 0 0;
  }
  .Home-LikeButton{
    width: 2rem;
    height: 2rem;
  }
}